@font-face {
  font-family: "Kulim Park";
  src: url("./font/Kulim_Park/KulimPark-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 2000px;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
}
.header_container {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #ffffff;
}
.header_container_nav {
  display: flex;
  flex: 1;
  gap: 43px;
}
.header_nav_link {
  font-family: "Kulim Park", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(61, 61, 61, 1);
  text-decoration: none;
}
.header_container_logo {
  /* max-width: 2000px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header_logo_img {
  width: 80px;
  height: 80px;
}
.header_logo_text {
  font-family: "Kulim Park", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(0, 0, 0);
}
.header_container_button {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.header_button {
  font-family: "Kulim Park", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(102, 102, 102, 1);
  border-radius: 50px;
  padding: 10px;
}
.save_nature {
  width: 100%;
  display: flex;
  padding: 20px 0 20px 0;
}
.save_nature_container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.save_nature_container_img {
  display: flex;
  position: relative;
  z-index: 1;
}
.save_nature_img {
  width: 100%;
  border-radius: 50px;
}
.save_nature_container_text {
  padding: 20px;
  width: 2000px;
  display: flex;
  position: absolute;
  z-index: 2;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.save_nature_container_text_line {
  width: 100%;
  padding: 35px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: end;
}
.save_nature_text_title {
  font-family: "Kulim Park", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 150px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
}
.save_nature_text {
  font-family: "Kulim Park", sans-serif;
  font-weight: 500;
  font-style: ExtraLight;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
}
.save_nature_container_button {
  display: flex;
  height: 550px;
  justify-content: center;
  align-items: end;
}
.save_nature_button {
  width: 140px;
  height: 140px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 11px;
  border-radius: 100px;
  margin: 50px;
  font-family: "Kulim Park", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(191, 99, 47, 1);
  background-color: #ffffff;
  border: 0;
}
.our_mission {
  padding: 150px 0 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our_mission_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.our_mission_img {
  width: 500px;
  height: 500px;
  border-radius: 50px;
  /* flex: 1; */
}
.our_mission_text_container {
  width: 70%;
  height: auto;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* flex: 1; */
}
.our_mission_text_title {
  font-family: "Kulim Park", sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(62, 62, 62, 1);
}
.our_mission_text_basic {
  font-family: "Kulim Park", sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(62, 62, 62, 1);
}
.our_mission_text_button {
  margin-top: 20px;
  width: 100%;
  height: 80px;
  border-radius: 50px;
  border: rgba(188, 94, 40, 1);

  font-family: "Kulim Park", sans-serif;
  font-weight: 200;
  font-style: Light;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: rgba(188, 94, 40, 1);
  color: rgba(23, 23, 23, 1);
}

.statistic {
  width: 100%;
  padding: 100px 0 20px 0;
  display: flex;
  align-items: center;
}
.statistic_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}
.statistic_container_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
}
.statistic_container_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.statistic_text_title {
  font-family: "Kulim Park", sans-serif;
  font-weight: 600;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(62, 62, 62, 1);
}
.statistic_text_basic {
  font-family: "Kulim Park", sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(62, 62, 62, 1);
}
.how_we_work {
  width: 100%;
  padding: 100px 0 20px 0;
  display: flex;
  align-items: center;
}
.how_we_work_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}
.how_we_work_container_img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}
.how_we_work_container_img {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}
.how_we_work_dolfins {
  display: flex;
  width: 400px;
  height: 400px;
  border-radius: 50px;
}
.how_we_work_giraffe {
  display: flex;
  align-self: center;
  width: 300px;
  height: 300px;
  border-radius: 50px;
}
.how_we_work_container_text {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.how_we_work_container_text_main {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
}
.how_we_work_text_title {
  font-family: "Kulim Park", sans-serif;
  font-weight: 600;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(62, 62, 62, 1);
  text-align: center;
}
.how_we_work_text_basik {
  font-family: "Kulim Park", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(62, 62, 62, 1);
}
.how_we_work_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.how_we_work_list li:first-child {
  border-top: 1px solid #000000;
}
.how_we_work_text_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(62, 62, 62, 1);
  padding: 10px 0 20px 0;
}
.how_we_work_text_list span:first-child {
  font-family: "Kulim Park", sans-serif;
  display: flex;
  font-weight: 300;
  font-style: Light;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(62, 62, 62, 1);
}
.help_is_important {
  width: 100%;
  padding: 100px 0 20px 0;
  display: flex;
  align-items: center;
}
.help_is_important_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help_is_important_container_img {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: center;
}
.elephants {
  width: 100%;
  height: auto;
  border-radius: 50px;
}
.help_is_important_container_text {
  position: absolute;
  z-index: 2;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.help_is_important_text_title {
  font-family: "Kulim Park", sans-serif;
  font-weight: 600;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
  text-align: center;
}
.help_is_important_text_basik {
  font-family: "Kulim Park", sans-serif;
  font-weight: 300;
  font-size: 23px;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 85%;
}
.help_is_important_button {
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Kulim Park", sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(255, 255, 255);
}
.footer {
  margin-top: 100px;
  width: 100%;
  height: auto;
  border-top: 1px solid rgba(62, 62, 62, 1);
  display: flex;
}
.footer_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
}
.footer_contrainer_link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer_contrainer_link .footer_link_list:last-child {
  flex: 1;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.footer_link_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.footer_title {
  font-family: "Kulim Park", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(62, 62, 62, 1);
}
.footer_list_text {
  width: fit-content;
  font-family: "Kulim Park", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(62, 62, 62, 1);
  text-decoration: none;
  display: flex;
}
.email_input {
  display: flex;
  width: 100%;
  border: rgba(62, 62, 62, 0);
  border-bottom: 1px solid rgba(62, 62, 62, 1);
  margin-bottom: 5px;
}
.MyCheckbox {
  width: 10px;
  height: 10px;
}
.MyCheckbox_text {
  font-family: "Kulim Park", sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.footer_container_button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  gap: 15px;
  padding-right: 63px;
}
.footer_button {
  font-family: Kulim Park;
  font-weight: 600;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(173, 173, 173);
  border: 1px solid rgb(174, 174, 174);
}
.footer_container_copyright {
  padding-top: 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.footer_container_logo {
  display: flex;
  flex-direction: column;
}
.footer_logo_container_copyright {
  position: relative;
  display: flex;
  z-index: 2;
}
.footer_logo {
  width: 110px;
  height: 110px;
}
.footer_logo_copyright {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
  bottom: 0;
  right: 0;
}
.footer_logo_text {
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: row-reverse;
  font-family: "Kulim Park", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 27px;
  line-height: 100%;
  letter-spacing: 0%;
}
.footer_text_adres,
.footer_text_numbear,
.footer_text_slogan,
.footer_separator,
.footer_text_link {
  font-family: "Kulim Park", sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(151, 151, 151, 1);
  text-decoration: none;
}
